body{
    color: blue;
    background-color: gray;
    font-family: cursive;
    text-align: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: white;
}