body{
    color: blue;
    background-color: gray;
    font-family: cursive;
    text-align: center;
    font-size: larger;
}

div,
p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}